@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

:root {
  --theme: #0070F3
}

@layer components {
  .container {
    @apply w-full max-w-[85rem] mx-auto px-4 overflow-hidden font-lato text-themeDark !important
  }

  .small-container {
    @apply w-full max-w-[75rem] mx-auto font-lato text-themeDark !important
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.hero .swiper-button-prev,
.hero .swiper-button-next {
  padding: 0 25px !important;
  top: 94% !important;
}

.hero .swiper-button-prev {
  left: calc(50% - 50px) !important;
}

.hero .swiper-button-next {
  right: calc(50% - 50px) !important;
}

.hero .swiper-button-prev::after {
  color: #111;
  font-size: 24px !important;
}

.hero .swiper-button-next::after {
  color: #111;
  font-size: 24px !important;
}

.hero .swiper-button-next:hover::after,
.hero .swiper-button-prev:hover::after {
  font-weight: bold;
  color: var(--theme);
}

.link {
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--theme);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}

.link:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}




input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.MuiDialog-paper {
  margin: 30px !important;
}



@media (max-width:800px) {

  .MuiDialog-paper {
    margin: 5px !important;
  }

  .swiper-slide {
    width: 250px !important;
    height: 500px !important;
  }
}

.themeBg {
  background-color: #f0faff;
  background-image: linear-gradient(135deg, #e0ebfd, #f8efff 55%, #bdcbfd);
}

.MuiAccordionSummary-root {
  padding: 0 !important;
}

.MuiAccordionDetails-root {
  padding: 4px 0 !important;
}